body{
    color: Black;
    background-color: red;
}

#main-canvas
{
    color: blue;
    background-color: blue;
}


.mobile-toast {
    position: absolute;
    border-radius: 10px;

    font: 30px Roboto;
    text-align: center;
    text-shadow: 1px 1px 1px yellow;

    color: firebrick;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

    display: block;
    z-index: 1;
    opacity: 1;
}

#mobileWelcomeToast {
    width: 680px;
    height: 300px;
    display: none;
    opacity: 0;
}
#controlToast
{
    width: 680px;
    height: 300px;
    display: none;
    opacity: 0;
}

.startGame{
    font: 40px Roboto;
    color: palevioletred;
    text-shadow: 2px 2px 2px blue;
}

#initialImage {
    text-align: center;
    padding: 25px;
    margin-bottom: 30px;
    font: 24px Roboto;
    text-shadow: 1px 1px 1px black;
}

#initialMessage{
    font: 18px Roboto;
    text-shadow: 1px 1px 1px black;
    color: white;
}
